.button {
  border-radius: var(--radius-base);
  cursor: pointer;
  font-family: sans-serif;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-reverse {
  flex-direction: row-reverse;
}