.label-ui {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  position: relative;
  user-select: none;
}

svg:focus-visible {
  outline: none;
}

svg:focus-visible path {
  stroke: var(--background-color);
}

.label-ui:hover > * {
  opacity: 0.7;
}

input:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.4;
}

.input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkbox {
  flex: 0 0 1.5em;
  margin-right: 0.5em;
}
