.stats-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1440px;
}

.filter {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.period {
  align-items: center;
  background-color: var(--filter-background-color);
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.stats {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

.box {
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--stats-box-shadow) inset;
  color: var(--stats-text-color);
display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  min-height: 50px;
  min-width: 200px;
  padding: 1rem;
  text-shadow: 1px 1px #989898;
  width: max-content;
}

.box:first-of-type {
  background-color: var(--accent-blue-color);
}

.box:nth-of-type(2) {
  background-color: var(--accent-green-color);
  --stats-box-shadow: #31aa5d;
}

.box:nth-of-type(3) {
  background-color: var(--accent-red-color);
  --stats-box-shadow: #ba2f3d;
}

.box:nth-of-type(4) {
  background-color: var(--accent-purple-color);
  --stats-box-shadow: #6d43ac;
}

.diagrams {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
