.card {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.image {
  aspect-ratio: 1;
  height: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statuses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
