.ads-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-block-end: 1rem;
}

.stats-nav-button {
  background-color: var(--accent-color-type-one);
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 0.2s ease;
}

.stats-nav-button:hover {
  filter: brightness(0.9);
  transition: 0.2s ease;
}

@media (max-width: 650px) {
  .stats-nav-button {
    top: 6rem
  }
}
