.ads-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-block-end: 1rem;
}

.stats-nav-button {
  background-color: var(--accent-color-type-one);
  border: none;
  border-radius: 0.4rem;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 1rem;
}

.stats-nav-button:hover {
  filter: brightness(0.9);
}



@media (max-width: 400px) {
  .stats-nav-button{
    max-width: 100px;
    right: 0;
  }
}
