.main {
  margin: 0 auto;
  max-width: 1440px;
}

.detailed-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 1rem;
}

.section-gallery-history {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.nav-list,
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.nav-list {
  margin-block-end: 1rem;
}

.button,
.button {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  transition: 0.2s ease;
}

.button-request-changes {
  background-color: var(--accent-color-type-five);
}

.button:hover {
  filter: brightness(0.9);
}

.button-request-changes svg {
  transition: 0.2s ease;
}

.button-request-changes:hover svg {
  transform: rotate(-150deg);
  transition: 0.2s ease;
}

.button-approve {
  background-color: var(--accent-color-type-four);
}

.button:hover svg{
  scale: 1.1;
}

.button-reject {
  background-color: var(--accent-color-type-two);
}

.moderation-history {
  background: #f1d69c;
  border-radius: 12px;
  padding: 0.5rem;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.history-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-block-end: 0.5rem;
}

.seller-info {
  background: #ebeae8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.disabled-button {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
}

.description {
  background: #ebeae8;
  border-radius: 12px;
  padding: 1rem;
}

.features {
  background: #965eeb;
  border-radius: 12px;
  color: white;
}

.features td {
  padding: 1rem;
}

.features td:not(:last-child) {
  border-right: 1px dashed #fff;
}

.features tr:not(:last-child) {
  border-bottom: 1px dashed #fff;
}

.features caption {
  color: black;
}
