.overlay {
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgb(0 0 0 / 30%);
  border: none;
  display: flex;
  height: 100vh;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

.content {
  border: 1px solid transparent;
}