:root {
  --filter-background-color: #ebeae8;
  --radius-base: 12px;
  --stats-box-shadow: #018cd3;
  --background-color: white;
  --general-color: black;
  --icon-color: black;
  --accent-color-type-four: #42e17c;
  --accent-color-type-one: #00aaff;
  --accent-color-type-three: #965eeb;
  --accent-color-type-two: #ff4053;
  --font-family-general: "Stack-Sans";
  --stats-text-color: #f6f5f5;
  --accent-yellow-color: #f3c34a;
}

body.light-theme {
}

body.dark-theme {
}
