.paginator {
  align-items: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.main {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.button {
  background: var(--accent-color-type-one);
  border: none;
  cursor: pointer;
}

.button svg path {
  transition: translate 0.1s ease;
}

.button:hover svg path {
  transition: translate 0.1s ease;
  translate: 0 0.2rem;
}

.disabled-button {
  background: #a3a3a3;
  border: none;
}

.button:hover {
  filter: brightness(0.9);
}

.ads-counter {
}

.page-counter {
}
