.input {
  background: none;
  border: 1px solid grey;
  border-radius: 0.5rem;
  color: #000;
  font-size: 1rem;
  padding: 1rem;
  width: 80%;
}

.input::placeholder {
  color: grey;
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: 2px dashed var(--accent-color-type-one);
}

.textarea {
  resize: none;
  width: 80%;
}

.form {
  align-items: center;
  background: var(--background-color);
  border-radius: var(--radius-base);
  color: #000;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  max-block-size: 700px;
  max-inline-size: 870px;
  padding: 2.5rem 1rem;
  position: relative;
  text-align: center;
  transition: background-color 0.2s ease;width: 90vw;
}

.submit,
.submit-disabled {
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
  width: 80%;
}

.title {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.submit {
  background: var(--accent-color-type-one);
  border: none;
}

.submit:hover {
  filter: brightness(90%);
}

.submit-disabled {
  background: grey;
  border: none;
  cursor: not-allowed;
}

.error {
  bottom: 1rem;
  color: grey;
  position: absolute;
}

.close {
  background: none;
  border: none;
  padding: 0.2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.close:hover {
  filter: brightness(90%);
}

.close:hover svg path{
  fill: var(--accent-color-type-two);
}

.select-label {
  margin-inline-end: 0.5rem;
}